.service-card {
 padding: 20px 0;
 color: white;
}
.service-content {
  padding: 0 20px;
  
}
.service-content h6 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.service-content p {
  font-size: 14px;
}
@media (max-width: 550px) {
 .service-card {
 padding: 45px 0;
}
}
