.swiper {
  padding: 40px;
  /* overflow: hidden; */
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--color-theme-primary);
  font-weight: 700;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-theme-primary);
}

.swiper-wrapper {
  padding-top: 10px;
}
.swiper-slide {
  flex-shrink: 100 !important;
  margin-right: 20px !important;
}
.swiper-pagination {
  display: none;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px !important;
}
.swiper-button-prev{
  left: 20px !important;
}
.swiper-button-next{
    right: 30px !important;
}
@media (max-width: 769px) {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-weight: 600;
    font-size: 20px !important;
  }
}
@media (max-width: 550px) {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 18px !important;
  }
  .swiper-slide {
    margin-right: 10px !important;
  }
}
