.contact-inner-wrapper {
  background-color: white;
  border-radius: 10px;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.contact-title {
  font-weight: 500;
  font-size: 26px;
  line-height: 35px;
}
.contact-form .form-control {
  background-color: var(--color-bg);
  padding: 10px;
  border-radius: 5px;
}
.contact-info-card {
  color: var( --color-gray);
}
.contact-info p {
  font-size: 14px;
  color: var( --color-gray);
}
@media (max-width: 769px) {
  .contact-title {
    font-size: 18px;
  }
  .contact-inner-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
