.card-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.card-sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-dark-gray);
  margin-top: 20px;
}